

.navigationBar {  filter: brightness(1.4); box-shadow: 0 1px 5px #489d88;}
.userB {  filter: brightness(1.4); box-shadow: 0 1px 10px#489d88;}
.accessB {  filter: brightness(1.4); box-shadow: 0 1px 10px #489d88;}



.lightDarkB {  border: none;
               background: url("../assets/light.svg") no-repeat center/cover;
               padding: 10px 10px;
               width: 40px;
               height: 40px;
               cursor: pointer;
               object-fit: cover;
               border-radius: 50%;
             }
.lightDarkB:hover, .lightDarkB:focus {
               transform: scale(1.2);
               filter: saturate(130%);
             }

body {
               background: #071c1a;
               color: #afcbc4;
               font-family: 'Cadman', sans-serif;

             }



/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover .accordion:focus {
    background: darkslategray;
}

.review-content {
    background-color: rgba(0, 0, 0, 0.5);
}