

body {
  background: white;
  color: #071c1a;
  font-family: 'Cadman', sans-serif;
}

.navigationBar {  filter: brightness(0.9); box-shadow: 3px 3px 0px #071c1a;}
.userB { filter: brightness(0.7);}
.accessB { filter: brightness(0.7);}


.lightDarkB {  border: none;
               background: url("../assets/dark.svg") no-repeat center/cover;
               padding: 10px 10px;
               width: 40px;
               height: 40px;
               cursor: pointer;
               object-fit: cover;
               border-radius: 50%;
             }
.lightDarkB:hover, .lightDarkB:focus {
               transform: scale(1.2);
               filter: saturate(130%);
             }

.active, .accordion:hover, .accordion:focus{
    background: grey;
}

.review-content {
    background-color: rgba(255, 255, 255, 0.5);
}